<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="gridcoinorg.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/jpeg" />
        </staticContent>
    </system.webServer>
</configuration>
