/Gridcoin-master/build
*.moc
*.exe
*.cache
*.msi
release/Gridcoin.msi
release/GridcoinRDTestHarness.exe
*.pdb
release/Gridcoin.msi
*.exe
release/setup.exe
*.moc
build/rpcconsole.moc
build/overviewpage.moc
release/setup.exe
release/gridcoin-qt.exe
release/setup.exe
release/gridcoin-qt.exe
*.o

