.logo {
	vertical-align: middle;
}
.title {
	vertical-align: middle;
}
img {
	border: 0px currentColor;
}
.alignleft {
	overflow: hidden; float: left;
}
.alignright {
	overflow: hidden; float: right;
}
body {
	background: url("images/bg.png"); font-family: "Noto Sans","Helvetica Neue","Helvetica",Arial,sans-serif; font-size: 16px;
}
a:link {
	color: rgb(73, 136, 123); font-weight: bold; text-decoration: none; text-shadow: 0px 1px #fff;
}
a:visited {
	color: rgb(73, 136, 123); font-weight: bold; text-decoration: none; text-shadow: 0px 1px #fff;
}
a:hover {
	color: rgb(196, 151, 26); font-weight: bold; text-decoration: none; text-shadow: 0px 1px #fff;
}
#footer a:link {
	color: rgb(158, 178, 181); font-weight: normal; text-shadow: none;
}
#footer a:visited {
	color: rgb(158, 178, 181); font-weight: normal; text-shadow: none;
}
#footer a:hover {
	color: rgb(158, 178, 181); font-weight: normal; text-shadow: none;
}
.wrapper {
	margin: auto; width: 920px; height: auto; overflow: hidden;
}
#pager {
	background: url("images/top_bg.png") repeat-x; width: 100%; height: auto; overflow: hidden;
}
#right {
	width: 558px; margin-top: 10px; float: right;
}
#sidebar {
	width: 313px; padding-left: 20px; float: left;
}
#top {
	background: url("images/top_bg.png"); width: 100%; height: auto; overflow: hidden;
}
#header {
	margin: 17px auto 30px; width: 920px; height: 81px; overflow: hidden;
}
#header h1 {
	background: url("images/title.png") no-repeat right; margin: 0px 18px 0px 0px; padding: 0px 18px 0px 0px; color: rgb(72, 72, 72);
}
#header .alignright a {
	border: currentColor; margin-right: 18px; float: left; display: block;
}
#header .alignright img {
	border: currentColor; float: none; cursor: pointer;
}
#language {
	width: 100%; height: 30px; text-align: center; font-size: 14px; font-weight: normal;
}
#language .current {
	border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: dashed;
}
#language > a:link {
	color: rgb(73, 136, 123); font-weight: normal; text-decoration: none; text-shadow: 0px 1px #fff;
}
#language > a:visited {
	color: rgb(73, 136, 123); font-weight: normal; text-decoration: none; text-shadow: 0px 1px #fff;
}
#language > a:hover {
	color: rgb(196, 151, 26); font-weight: normal; text-decoration: none; text-shadow: 0px 1px #fff;
}
.tipsy {
	background: url("images/tooltip.png") no-repeat; border: currentColor; width: 149px; height: 35px; text-align: center; color: rgb(254, 254, 254); line-height: 36px; font-size: 11px; font-weight: bold; margin-top: 7px; display: none;
}
#intro {
	width: 550px; float: right; xheight: 320px;
}
#intro h1 {
	color: rgb(72, 72, 72); font-size: 16px; font-weight: bold; margin-bottom: 20px; margin-left: -1px;
}
#intro h2 {
	color: rgb(76, 76, 76); line-height: 20px; font-size: 14px; font-weight: normal;
}
.viewall {
	background: url("images/features.png") no-repeat top; width: 152px; height: 37px; text-align: center; color: rgb(115, 115, 115); line-height: 35px; font-size: 16px; font-weight: bold; text-decoration: none; margin-top: 25px; margin-bottom: 42px; display: block; text-shadow: 0px 1px #fff;
}
.viewall img {
	margin-left: 10px;
}
.viewall:hover {
	background-position: bottom;
}
.button {
	background: url("images/button.png") no-repeat top; width: 200px; height: 37px; text-align: center; color: rgb(73, 136, 123); line-height: 35px; font-size: 16px; font-weight: bold; text-decoration: none; float: left; display: block; text-shadow: 0px 1px #fff;
}
.or {
	background: url("images/or.png") no-repeat; width: 67px; height: 37px; float: left;
}
.button:hover {
	background-position: bottom;
}
.source {
	background: url("images/features.png") no-repeat top; width: 152px; height: 37px; text-align: center; color: rgb(115, 115, 115); line-height: 35px; font-size: 16px; font-weight: bold; text-decoration: none; float: left; display: block; text-shadow: 0px 1px #fff;
}
.source:hover {
	background-position: bottom;
}
#slider {
	background: url("images/slider_bg.png"); width: 100%; height: 100px; margin-bottom: 42px; position: relative; z-index: -1;
}
.features {
	margin: auto auto 5px; width: 875px; line-height: 20px; overflow: hidden; font-size: 14px; font-weight: normal; float: right;
}
.icon {
	width: 50px; height: 50px; margin-top: -4px; margin-right: 14px; float: left; display: block;
}
.first-column {
	width: 278px; height: auto; color: rgb(76, 76, 76); margin-top: 10px; margin-right: 15px; float: left;
}
.second-column {
	width: 278px; height: auto; color: rgb(76, 76, 76); margin-top: 10px; margin-right: 15px; float: left;
}
.third-column {
	width: 264px; height: auto; color: rgb(76, 76, 76); margin-top: 10px; float: left;
}
.first-column h1 {
	line-height: 22px; font-size: 14px; font-weight: bold; margin-bottom: 22px;
}
.second-column h1 {
	line-height: 22px; font-size: 14px; font-weight: bold; margin-bottom: 22px;
}
.third-column h1 {
	line-height: 22px; font-size: 14px; font-weight: bold; margin-bottom: 22px;
}
.first-column h2 {
	line-height: 20px; font-size: 14px; font-weight: normal;
}
.second-column h2 {
	line-height: 20px; font-size: 14px; font-weight: normal;
}
.third-column h2 {
	line-height: 20px; font-size: 14px; font-weight: normal;
}
.fullwidth {
	margin-top: 25px; margin-bottom: 25px;
}
#screen {
	padding: 0px; width: 313px; height: auto;
}
.screenshot {
	position: absolute; z-index: 1;
}
#images {
	border: 1px solid rgb(204, 204, 204); width: 300px; overflow: hidden; padding-bottom: 20px; margin-top: 240px; margin-bottom: 40px; margin-left: -40px; float: left; position: absolute; z-index: 2; background-color: rgba(0, 0, 0, 0.3);
}
#images img {
	background: rgb(248, 252, 251); padding: 5px; border: 1px solid rgb(200, 217, 208); width: 115px; height: 68px; margin-top: 20px; margin-left: 16px; float: left;
}
#images img:hover {
	background: rgb(255, 255, 255);
}
#images a {
	float: left; display: block;
}
#images a:last-child {
	margin-right: 0px;
}
#images img.active {
	background: rgb(255, 255, 255);
}
#testimonials {
	width: 313px; margin-top: 25px;
}
#testimonials h1 {
	margin: 0px 0px 25px; padding: 0px; color: rgb(76, 76, 76); font-size: 13px; font-weight: bold;
}
.testimonial {
	background: url("images/quote.png") no-repeat left top; padding-left: 35px;
}
.cit {
	color: rgb(53, 53, 53); line-height: 20px; font-family: Georgia,"Times New Roman",Times,serif; font-size: 12px; font-style: italic; font-weight: 100; margin-top: -2px;
}
.author {
	text-align: right; color: rgb(147, 157, 154); line-height: 20px; font-size: 11px; margin-top: 10px; margin-bottom: 20px;
}
#footer {
	background: url("images/footer_bg.png") repeat-x; width: 100%; height: 66px; color: rgb(204, 204, 204); line-height: 67px; padding-top: 10px; font-size: 13px; text-shadow: 0px 1px rgba(0,0,0,0.9);
}
#footer .wrapper {
	height: 65px; padding-top: 1px;
}
#footer a {
	color: rgb(153, 149, 149); text-decoration: none;
}
#footer a:hover {
	color: rgb(191, 189, 189); text-decoration: none;
}
#downloads {
	width: 540px; height: 180px; text-align: left; font-size: 14px; font-weight: normal; margin-top: 15px; margin-left: 20px; float: left; display: block;
}
.arrow-down {
	margin-top: 0px; margin-right: 4px; float: right;
}
.download-icon {
	padding: 0px 4px; width: 56px; height: 56px; text-align: center; margin-top: 4px; margin-right: 2px; margin-left: 2px; float: left; display: block;
}
.download {
	border-radius: 3px; border: 1px solid rgb(46, 105, 148); width: 240px; height: 90px; color: white; line-height: 18px; font-size: 13px; font-weight: normal; margin-right: 20px; margin-bottom: 10px; float: left; display: block; box-shadow: inset 0px 1px 0px 0px #85837c; text-shadow: 0px -1px 0px #4c9021; background-image: -ms-linear-gradient(rgb(83, 82, 77), rgb(53, 52, 49)); background-color: rgb(53, 52, 49); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-box-shadow: inset 0 1px 0 0 #85837c; -moz-box-shadow: inset 0 1px 0 0 #96ca6d; -ms-box-shadow: inset 0 1px 0 0 #96ca6d; -o-box-shadow: inset 0 1px 0 0 #96ca6d;
}
.download-link {
	padding: 4px 0px; height: 72px; display: block;
}
.download-link:hover {
	font-weight: normal; cursor: pointer; background-image: -ms-linear-gradient(rgb(94, 93, 88), rgb(83, 82, 77)); background-color: rgb(83, 82, 77); -webkit-box-shadow: inset 0 1px 0 0 #85837c; -moz-box-shadow: inset 0 1px 0 0 #8dbf67; -ms-box-shadow: inset 0 1px 0 0 #8dbf67; -o-box-shadow: inset 0 1px 0 0 #8dbf67;
}
a.download-link {
	width: 240px; height: 58px; color: white; font-size: 13px; font-weight: normal; display: block; text-shadow: none;
}
a.GPG {
	padding: 0px 0px 0px 68px; width: 172px; height: 22px; color: white; font-size: 13px; font-weight: normal; border-top-color: white; border-top-width: 1px; border-top-style: solid; display: block; text-shadow: none;
}
.GPG:hover {
	background-color: rgb(83, 82, 77);
}
.GPG-text {
	background: url("images/lock.png") no-repeat left; width: 140px; padding-left: 20px; margin-top: 2px; display: block;
}
.github > .GPG > .GPG-text {
	background: url("images/info.png") no-repeat left;
}
