/*------ Fonts ------ */
/* Regular */
@font-face {
    font-family: 'Open Sans';
    
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: italic;

}

/* Light */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 200;
    font-style: normal;

}

/* Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;

}

/* Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}

/* Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: 500;
    font-style: italic;

}

/* Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;

}

/* Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: italic;

}

/* Extra Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: 900;
    font-style: normal;

}

/* Extra Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: 900;
    font-style: italic;

}


.shadow
{
	text-shadow: 2px 2px 2px #000, 3px 3px 5px blue;

}

/* ------ General Styles ------ */
body{
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 13px;
	color: rgb(165, 165, 165);
	
	
	
	
	
}
a{
	color: #81B134;
}
a:hover{
	color: #777;
}
hr{
	height: 1px;
	width: 100%;
	float: left;
	border: none;
	margin: 50px 0 20px 0;
	background-color: #CCC;
}
.greenText{
	color: rgb(136,183,62);
}
div.firstRow{
	margin-top: 40px;
}
/* ------ Top Bar ------ */
div#topBar{
	background: url('../images/topbar-background.png') #151718;
	background-position: 50% 0;
	height: 95px;
}

div#topBar nav{
	height: 95px;
	font-size: 12px;
	float: right;
}

div#topBar nav ul{
	height: 95px;
	list-style-type: none;
	float: left;
}

div#topBar nav ul li{
	height: 95px;
	line-height: 95px;
	float: left;
}

div#topBar nav ul li a{
	width: 100%;
	padding: 0 20px 0 20px;
	color: #919598;
	transition: border-color .5s ease-in-out;
	-webkit-transition: border-color .5s ease-in-out;
	border-bottom: 3px solid transparent;
	height: 100%;
	display: block;
}

div#topBar nav ul li a:hover{
	color: #81B134;
	text-decoration: none;
	border-bottom: 3px solid #81B134;
}

div#topBar nav ul li a.login{
	height: 30px;
	padding: 10px 20px 10px 20px;
	font-size: 11px;
	color: #FFF;
	background: rgb(136,183,62); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(136,183,62) 0%, rgb(105,158,22) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(136,183,62)), color-stop(100%,rgb(105,158,22))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b73e', endColorstr='#699e16',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px #AAEF40;
	display: inline;
	border-bottom: none;
}

div#topBar nav ul li a.login:hover{
	text-decoration: underline;
}

div#topBar nav ul li a.login i{
	padding-right: 10px;
}

div#topBar #mobileNav, div#topBar .mobileHome, nav#mobileNavigation{
	display: none;
}

@media screen and (max-width: 640px){
	div#topBar{
		height: 50px;
	}
	
	div#topBar nav{
		display: none;
	}
		
	div#topBar #mobileNav{
		display: block;
		color: #FFF;
		line-height: 50px;
		cursor: pointer;
		float: right;
	}
	
	div#topBar .mobileHome{
		line-height: 50px;
		color: #FFF;
		display: block;
		float: left;
	}
	
	nav#mobileNavigation{
		position: absolute;
		width: 100%;
		z-index: 100;
	}
	
	nav#mobileNavigation ul{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
	nav#mobileNavigation ul li{
		height: 50px !important;
		width: 100%;
	}
	
	nav#mobileNavigation ul li a{
		height: 50px !important;
		width: 100%;
		font-size: 12px;
		color: #FFF;
		box-shadow: inset 0px 1px 0px #2a3a45;
		background: rgb(31,44,54); /* Old browsers */
		background: -moz-linear-gradient(top, rgb(31,44,54) 0%, rgb(19,27,33) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(31,44,54)), color-stop(100%,rgb(19,27,33))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgb(31,44,54) 0%,rgb(19,27,33) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgb(31,44,54) 0%,rgb(19,27,33) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgb(31,44,54) 0%,rgb(19,27,33) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgb(31,44,54) 0%,rgb(19,27,33) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2c36', endColorstr='#131b21',GradientType=0 ); /* IE6-9 */
		float: left;
		line-height: 50px;
		text-align: center;
	}
	
	nav#mobileNavigation ul li a.login{
		color: #FFF;
		background: rgb(136,183,62); /* Old browsers */
		background: -moz-linear-gradient(top, rgb(136,183,62) 0%, rgb(105,158,22) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(136,183,62)), color-stop(100%,rgb(105,158,22))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b73e', endColorstr='#699e16',GradientType=0 ); /* IE6-9 */
		box-shadow: inset 0px 1px 0px #AAEF40;
	}
}
div.sliderWrapper{
	width: 100%;
	height: 450px;
	position: relative;
}
div.mobileSlider{
	background: url('../images/header-background.png');
	display: none;
	width: 100%;
	height: 450px;
	position: relative;
}
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height: 450px;
	overflow: hidden;
	text-align: center;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
	min-height: 450px;
	height: auto;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	top:0px;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	display: none;
}
div.slider h1{
	color: #FFF;
	font-weight: 100;
	font-size: 37px;
	letter-spacing: 1px;
	margin: 100px 0 30px 0;
	font-family: 'Open Sans';
}

div.slider h1 strong{
	font-weight: 400;
}

div.slider p{
	color: #AEAEAE;
	font-size: 18px;
	line-height: 30px;
	font-weight: 200;
}
div.sliderWrapper #slideControls{
	position: absolute;
	z-index: 100;
	bottom: 70px;
	width: 100%;
}
div.sliderWrapper ul{
	list-style-type: none;
	width: 290px;
	text-align: center;
	margin: 0 auto;
	display: table;
	padding: 0px;
}
div.sliderWrapper ul li{
	width: 30px;
	height: 5px;
	margin: 10px;
	background: rgba(255,255,255,0.2);
	display: table-cell;
	cursor: pointer;
	z-index: 200;
}
div.sliderWrapper ul li:nth-of-type(odd){
	background: rgba(255,255,255,0.5);
}
div.sliderWrapper ul li.active{
	background: rgb(136,183,62);
}

@media screen and (max-width: 640px){
	div.slider h1{
		margin-top: 50px;
	}
	div.sliderWrapper #slideControls{
		position: absolute;
		z-index: 100;
		bottom: 20px;
		width: 100%;
	}
	div.mainSlider{
		display: none;
	}
	div.mobileSlider{
		display: block;
	}
}
/* ------ Package Header ------ */
div#packageWrapper{
	background: rgb(230,233,235) no-repeat; /* Old browsers */
	background: -moz-linear-gradient(top, rgb(230,233,235) 0%, rgb(214,218,222) 35%, rgb(255,255,255) 35%) no-repeat; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(230,233,235)), color-stop(35%,rgb(214,218,222)), color-stop(35%,rgb(255,255,255))) no-repeat; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(230,233,235) 0%,rgb(214,218,222) 35%,rgb(255,255,255) 35%) no-repeat; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(230,233,235) 0%,rgb(214,218,222) 35%,rgb(255,255,255) 35%) no-repeat; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(230,233,235) 0%,rgb(214,218,222) 35%,rgb(255,255,255) 35%) no-repeat; /* IE10+ */
	background: linear-gradient(to bottom, rgb(230,233,235) 0%,rgb(214,218,222) 35%,rgb(255,255,255) 35%) no-repeat; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e9eb', endColorstr='#ffffff',GradientType=0 ) no-repeat; /* IE6-9 */
	padding-bottom: 90px;
        background-size: 100% 732px;
}
div.packageWrapper{
	margin-bottom: 60px;
}
div#packageWrapper h1, div.packageWrapper h1{
	color: #6A6E71 !important;
	font-weight: 200 !important;
	font-size: 30px !important;
	text-shadow: 0px 1px 0 #FFF;
	margin-top: 50px !important;
	font-family: 'Open Sans';
	text-align: left !important;
}
div#packageWrapper div.packageHeader{
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 120px;
	margin-top: 42px;
	color: #6D7378;
	text-align: center;
	font-size: 16px;
	line-height: 114px;
	font-weight: 400;	
	border-left: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
	position: relative;
        border-top: 1px solid rgba(0,0,0,0.1);
}
div.internal{
	background: #FFF !important;
	padding-bottom: 0px !important;
}
div.internal div.packageHeader{
	height: 90px !important;
	line-height: 90px !important;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ribbon {
  font: 600 10px 'Open Sans';
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px;
  top: 15px;
  width: 120px;
  color: #FFF;
  text-transform: uppercase;
}
div#packageWrapper .blue{
	background-color: #2583C3;
}
div#packageWrapper .green{
	background: rgb(136,183,62);
}
#xeonLogo{
	background: url('../images/intel-xeon.png') no-repeat;
	width: 62px;
	height: 47px;
	float: right;
	margin-top: 46px;
	margin-left: 20px;
}
#samsungLogo{
	background: url('../images/samsung-ssd.png') no-repeat;
	width: 52px;
	height: 47px;
	float: right;
	margin-top: 46px;
	margin-left: 20px;
}
#cloudflareLogo{
	background: url('../images/cloudflare.png') no-repeat;
	width: 52px;
	height: 47px;
	float: right;
	margin-top: 46px;
	margin-left: 20px;
}

div#packageWrapper ul.packageBody{
	list-style-type: none;
	padding: 0;
}
div#packageWrapper ul.packageBody li{
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.1);
	border-bottom: none;
}
div#packageWrapper ul.packageBody li.price{
	color: #75A825;
	font-size: 36px;
	font-weight: 600;
	height: 100px;
	padding-top: 15px;
	line-height: normal;
}
div#packageWrapper ul.packageBody li.price .cycle{
	color: #93999E;
	font-weight: 200;
	font-size: 10px;
	width: 100%;
	float: left;
}
div#packageWrapper ul.packageBody li.last{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	height: 75px;
	line-height: 75px;
}
div#packageWrapper ul.packageBody li.last a.order{
	height: 30px;
	padding: 10px 20px 10px 20px;
	font-size: 11px;
	color: #FFF;
	background: rgb(136,183,62); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(136,183,62) 0%, rgb(105,158,22) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(136,183,62)), color-stop(100%,rgb(105,158,22))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b73e', endColorstr='#699e16',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	font-weight: 600;
	text-transform: uppercase;
}

div#packageWrapper ul.packageBody li.last a.order:hover{
	text-decoration: underline;
}

@media screen and (max-width: 640px){
	div#packageWrapper{
		background: #FFF !important;
	}
	div#packageWrapper div.packageHeader{
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	div#packageWrapper h1{
		text-align: center;
	}
	
	#xeonLogo, #samsungLogo, #cloudflareLogo{
		display: none;
	}
}

/* ------ Page Content ------ */
div#contentWrapper{
	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(239,239,239) 0%, rgb(255,255,255) 50%, rgb(239,239,239) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(239,239,239)), color-stop(50%,rgb(255,255,255)), color-stop(100%,rgb(239,239,239))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(239,239,239) 0%,rgb(255,255,255) 50%,rgb(239,239,239) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(239,239,239) 0%,rgb(255,255,255) 50%,rgb(239,239,239) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(239,239,239) 0%,rgb(255,255,255) 50%,rgb(239,239,239) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(239,239,239) 0%,rgb(255,255,255) 50%,rgb(239,239,239) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
div#contentBackground{
	background: url('../images/content-background.png') no-repeat;
	background-position: 50% 0;
}
div#contentWrapper h1, div#packageWrapper h1{
	color: #35393C;
	font-size: 40px;
	font-weight: 200;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 75px;
	font-family: 'Open Sans';
}
div#contentWrapper h2, div#packageWrapper h2{
	color: #35393C;
	font-size: 25px;
	font-weight: 400;
	margin-top: 40px;
	font-family: 'Open Sans';
}
div#contentWrapper h3, div#packageWrapper h3{
	color: #93999E;
	font-size: 18px;
	text-align: center;
	font-weight: 200;
	margin-top: 40px;
	font-family: 'Open Sans';
}
div#contentWrapper h4{
	color: rgb(136,183,62);
	font-size: 15px;
	font-weight: 500;
	font-family: 'Open Sans';
	margin: 0;
}
div#contentWrapper h5{
	color: #535353;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Open Sans';
	margin: 0;
}
div#contentWrapper .features, div#packageWrapper .features{
	margin-top: 50px;
}
div#contentWrapper .featuresImage, div#packageWrapper .featuresImage{
	float: left;
	margin-right: 15px;
}
div#contentWrapper .title, div#packageWrapper .title{
	color: #535353;
	font-weight: 600;
	font-size: 14px;
	width: 100%;
}
div#contentWrapper p{
	color: #A5A5A5;
	font-size: 13px;
	font-weight: 400;
	margin-top: 10px;
}
div#contentWrapper a.largeButton, div#packageWrapper a.largeButton{
	background: url('../images/signup-button.png') no-repeat;
	background-position: 50% 0;
	width: 100%;
	height: 73px;
	float: left;
}

div.mobileHeader{
	display: none;
}
@media screen and (max-width: 450px){
	div.nonMobileHeader{
		display: none;
	}
	div.mobileHeader{
		display: block;
	}
}
@media screen and (min-width: 770px) and (max-width: 1000px) {
	div#contentWrapper .featuresImage, div#packageWrapper .featuresImage{
		float: left;
		margin-right: 15px;
		margin-left: -15px;
	}
	
}

/* ------ Testimonials ------- */
div#testimonialWrapper{
	background: #FFF;
	padding-top: 75px;
	border-top: 1px solid #CCC;
	padding-bottom: 75px;
}

div#testimonialWrapper #testimonialPicture{
	background: url('http://placehold.it/350x350') no-repeat;
	background-position: -80px -80px;
	width: 182px;
	height: 182px;
	border-radius: 190px;
}

div#testimonialWrapper h2{
	color: #35393C;
	font-size: 25px;
	font-weight: 400;
	margin: 0;
}

div#testimonialWrapper h3{
	color: #93999E;
	font-size: 16px;
	font-weight: 200;
	margin-top: 20px;
	line-height: 30px;
}

@media screen and (max-width: 1000px){
	div#testimonialWrapper #testimonialPicture{
		margin: 0 auto;
		margin-bottom: 40px;
	}
	
	div#testimonialWrapper h2, div#testimonialWrapper h3{
		text-align: center;
	}
	
	div#testimonialWrapper a{
		text-align: center;
		width: 100%;
		float: left;
	}
}

/* ------ Subpage Content ------ */
div#pageHeaderWrapper{
	background: url('../images/header-background.png') #1F2327;
	background-position: 50% -160px;
	width: 100%;
	height: 100px;
}
div.pageHeader{
	font-size: 25px;
	color: #FFF;
	font-weight: 100;
	line-height: 100px;
	width: 100%;
	text-align: center;
}
div.pageContent{
	margin-top: 40px;
	margin-bottom: 40px;
}

/* ------ Login Page ------ */
div#loginWrapper{
	background: #FFF;
	border: 1px solid #D6D6D6;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 5px;
	padding: 20px;
}
div#loginWrapper label i{
	position: absolute;
	left: 20px;
	top: 14px;
	z-index: 2;
}
div#loginWrapper input.inputText, div#loginWrapper input[type=password], div#loginWrapper input[type=submit]{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	width: 100% !important;
	border: 1px solid #D6D6D6;
	height: 40px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	padding-left: 55px !important;
	color: #A5A5A5;
	font-size: 12px;
	float: none !important;
	margin-left: 0 !important;
}
div#loginWrapper input.submit{
	width: 40% !important;
	color: #FFF;
	background: rgb(136,183,62); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(136,183,62) 0%, rgb(105,158,22) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(136,183,62)), color-stop(100%,rgb(105,158,22))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b73e', endColorstr='#699e16',GradientType=0 ); /* IE6-9 */
	padding: 0 !important;
	text-align: center;
	border: none;
	margin: 0 !important;
}
div#loginWrapper input[type="checkbox"]{
	margin-right: 10px;
}
div#loginWrapper label#rememberMe{
	line-height: 40px;
	width: 60% !important;
	font-weight: 400;
	float: left;
	margin-top: 0 !important;
}
/* ------ Support Page ------ */
div#contentWrapper label#supportQuestion{
	position: relative;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 90%;
	display: block;
}
div#contentWrapper form{
	margin: 20px 0 20px 0;
}
div#contentWrapper label{
	position: relative;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
	display: block;
	font-weight: 400;
	line-height: 40px;
}
div#contentWrapper input[type=text], div#contentWrapper input[type=submit], div#contentWrapper input[type=email]{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	width: 80%;
	border: 1px solid #D6D6D6;
	height: 40px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	padding-left: 20px;
	color: #A5A5A5;
	font-size: 12px;
	margin-left: 20px;
	float: right;
}
div#contentWrapper input[type=submit]{
	width: 80%;
	color: #FFF;
	background: rgb(136,183,62); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(136,183,62) 0%, rgb(105,158,22) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(136,183,62)), color-stop(100%,rgb(105,158,22))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(136,183,62) 0%,rgb(105,158,22) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b73e', endColorstr='#699e16',GradientType=0 ); /* IE6-9 */
	padding: 0;
	text-align: center;
	border: none;
	margin-top: 20px;
}
div#contentWrapper textarea{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	width: 80%;
	border: 1px solid #D6D6D6;
	min-height: 150px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	padding-left: 20px;
	color: #A5A5A5;
	font-size: 12px;
	margin-left: 20px;
	float: right;
	resize: none;
}
div#contentWrapper #departmentSelectBoxItContainer{
	float: right;
	width: 80%;
}
div#contentWrapper #departmentSelectBoxIt{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	width: 100% !important;
	border: 1px solid #D6D6D6;
	height: 40px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	padding-left: 10px;
	margin-left: 20px;
	float: right;
}
div#contentWrapper #departmentSelectBoxItText{
	line-height: 40px;
	font-family: 'Open Sans';
	font-size: 12px;
	color: #A5A5A5;
}
div#contentWrapper #departmentSelectBoxItArrow{
	border-top: 4px solid #A5A5A5;
	top: 20px !important;
}
div#contentWrapper #departmentSelectBoxItOptions{
	top: 40px !important;
	width: 100%;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	width: 100% !important;
	border: 1px solid #D6D6D6;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	font-family: 'Open Sans';
}
div#contentWrapper .selectboxit-optgroup-header {
    font-weight: 600;
    font-family: 'Open Sans';
    font-size: 13px;
    padding: 10px;
    height: 40px !important;
}
div#contentWrapper .selectboxit-optgroup-option{
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #A5A5A5;
}
div#contentWrapper .selectboxit-container * {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #A5A5A5;
}
div#contentWrapper .selectboxit-option-last{
	margin-bottom: 20px;
}
div#contentWrapper .selectboxit-option .selectboxit-option-anchor:hover{
	background: none;
	color: rgb(136,183,62);
}
div#contentWrapper .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{
	background: none;
	color: rgb(136,183,62);
}
div#contentWrapper input#supportQuestion{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	width: 90%;
	border: 1px solid #D6D6D6;
	height: 40px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	padding-left: 20px;
	color: #A5A5A5;
	font-size: 12px;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	float: left;
	margin-left: 0;
}
div#contentWrapper button#supportSearch{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	border: 1px solid #D6D6D6;
	height: 40px;
	border-radius: 5px;
	box-shadow: 4px 0px 5px rgba(0,0,0,0.1);
	color: rgb(136,183,62);
	font-size: 12px;
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 10%;
}
div#contentWrapper button#supportSearch:hover{
	color: #A5A5A5;
}
ul#faqList{
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin-bottom: 40px;
}
ul#faqList li{
	width: 100%;
	min-height: 60px;
	border-bottom: 1px solid #CCC;
	line-height: 60px;
	font-weight: 500;
	font-size: 16px;
	color: rgb(136,183,62);
	cursor: pointer;
}
ul#faqList li i{
	float: right;
	color: #CCC;
	line-height: 60px;
}
ul#faqList li p.faqAnswer{
	margin: 0px 0 20px 0;
	display: none;
	line-height: 1.5;
}
@media screen and (max-width: 600px){
	div#contentWrapper input[type="text"],div#contentWrapper input[type="email"],div#contentWrapper input[type="password"], div#contentWrapper #departmentSelectBoxItContainer, div#contentWrapper textarea, div#contentWrapper input[type="submit"]{
		width: 60%;
	}
	div#contentWrapper input[type="submit"]{
		margin-bottom: 40px;
	}
}
/* ------ Blog Page ------ */
ul#blogCategory, ul#blogPosts{
	padding: 0;
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(136,183,62);
}
ul#blogPosts li{
	margin-bottom: 20px;
}
ul#blogPosts .readMore{
	color: #A5A5A5;
	width: 100%;
	display: block;
	font-size: 12px;
	margin-top: 5px;
}
ul#blogPosts a:hover{
	text-decoration: underline;
}
div.contentImage{
	background: url('../images/pods.jpg') no-repeat;
	width: 100%;
	height: 200px;
	border-radius: 5px;
	text-align: center;
	line-height: 200px;
	font-size: 25px;
	font-weight: 100;
	color: #FFF;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	margin-bottom: 40px;
}
img.blogAuthor{
	width: 125px;
	display: block;
	margin: 0 auto;
	border-radius: 125px;
	height: 125px;
}
span.blogName{
	width: 100%;
	display: block;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 12px;
}
span.blogDate{
	width: 100%;
	display: block;
	text-transform: uppercase;
	font-size: 10px;
}
div.blogPost{
	margin-bottom: 40px;
}
hr.blogHr{
	margin-top: -0px;
	margin-bottom: 40px;
	float: none;
	display: block;
}
ul#blogPagination{
	text-align: center;
	margin-bottom: 40px;
}
ul#blogPagination li a,
ul#blogPagination li a:hover,
ul#blogPagination li.active a,
ul#blogPagination li.disabled {
	color: #A5A5A5;
	text-decoration:none;
}

ul#blogPagination li {
	display: inline;
}

ul#blogPagination li a,
ul#blogPagination li a:hover,
ul#blogPagination li.active a,
ul#blogPagination li.disabled {
	border-radius: 3px;
	border: 1px solid #A5A5A5;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
	margin: 0 5px 0 5px;
}

ul#blogPagination li a:hover,
ul#blogPagination li.active a {
	color: rgb(136,183,62);
	border-color: rgb(136,183,62);
}

@media screen and (max-width: 1000px){
	img.blogAuthor{
		width: 100px;
	}
}
@media screen and (max-width: 760px){
	div.contentImage{
		display: none;
	}
	span.blogDate{
		margin-bottom: 40px;
	}
	
	img.blogAuthor{
		width: 125px;
	}
}


/* ------ Footer ------ */
footer{
	border-top: 1px solid #CCC;
	padding-top: 30px;
	background: url('../images/content-background.png') no-repeat;
	background-position: 50% -100px;
}
footer ul.footerMenu, footer ul.footerAddress{
	list-style-type: none;
	padding: 0;
	margin-bottom: 20px;
	clear: both;
}
footer .tweetTime{
	color: rgb(136,183,62);
	font-size: 10px;
	margin-left: 20px;
}
footer ul.footerMenu li, footer ul.footerAddress li{
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}
footer ul.footerMenu li span, footer ul.footerAddress li span{
	display: block;
	margin: -20px 0 10px 60px;
}
footer ul.footerMenu li.title, footer .title,  footer ul.footerAddress li.title{
	color: #535353;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 10px;
	display: block;
}
footer ul.footerMenu li a,  footer ul.footerAddress li a{
	color: rgb(136,183,62);
}
footer ul.footerMenu{
	float: left;
	width: 100%;
}
footer #map-canvas{
	width: 100%;
	height: 145px;
	border: 1px solid #CCC;
}
footer #footerBottom{
	background: #000;
	color: #FFF;
	font-size: 12px;
	line-height: 50px;
	font-weight: 300;
	height: 25px;
}
footer .footerNews li.title{
	padding-bottom: 0;
	border-bottom: none;
}
footer .footerNews li{
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}
footer #footerCopyright{
	margin-bottom: 20px;
	font-size: 11px;
	float: left;
}
footer ul#footerSocial{
	list-style-type: none;
	float: right;
}
footer ul#footerSocial li{
	float: left;
	margin-left: 10px;
}
footer ul#footerSocial li a{
	color: #AAA;
}
footer ul#footerSocial li a:hover{
	color: #CCC;
}
footer ul#footerAbout{
	list-style-type: none;
	padding: 0;
	float: left;
	width: 100%;
}
footer ul#footerAbout li{
	float: left;
	margin-right: 20px;
	position: relative;
}
footer ul#footerAbout li a:hover span{
	background: rgba(255,255,255,0.5);
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 35px;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
footer ul#footerAbout li img{
	width: 70px;
	border-radius: 35px;
}
footer hr{
	float: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
@media screen and (max-width: 1000px){
	footer ul.last{
		display: none;
	}
	
	footer #footerCopyright{
		text-align: center;
	}
	
	footer #footerBottom{
		margin-top: 20px;
	}
	
	footer ul#footerAbout li{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 360px) {
	ooter ul#footerSocial{
		float: none;
		margin-left: 10px;
	}
}